# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
*/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Spring specific
/target
*.log
*.iml
*.ipr
*.iws
/.idea/
/.classpath
/.project
/.settings
/.mvn/
/mvnw
/mvnw.cmd
spring.log
hs_err_pid*.log

# React/Next.js specific
.next
.out
.cache
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/jsconfig.json
*.env.*.local

# IDEs and Editors
/.vscode/
/.vscode/*
*.swp
*~
.idea
*.sublime-workspace
*.sublime-project

# macOS
*.DS_Store

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
