.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex: 1;
}

.sidebar {
  flex: 0 0 20%; /* Sidebar 고정 넓이 */
  padding: 20px;
  background: #f8f9fa;
}

.content-wrapper {
  flex: 1; /* Content와 RecentPosts를 나누는 Wrapper */
  display: flex;
}

.content {
  flex: 3;
  padding: 20px;
}

.recent-posts {
  flex: 1;
  padding: 20px;
  background: #f1f1f1;
}

.recent-post-item {
  margin-bottom: 15px;
}

.recent-post-item p {
  margin: 5px 0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.comment-section {
  margin-top: 20px;
}
